.logo-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-height: 20px; /* Set a minimum height */
}

.logo {
  width: 296px;
  height: 53px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/bank-horizontal-logo.png')
}
