<div class="ui segment">
    <h3 class="ui header">ანგარიშის შექმნა</h3>

    <form [formGroup]="createAccountForm" class="ui form" (ngSubmit)="onSubmit()">
        <div class="field">
            <app-form-field
                    type="text"
                    placeholder="სახელი"
                    fieldId="firstName"
                    [control]="createAccountForm.controls['accountName']"
                    errorMessage="errorMessage">
            </app-form-field>
        </div>

        <div class="field">
            <app-form-field
                    type="number"
                    placeholder="თანხა"
                    fieldId="lastName"
                    [control]="createAccountForm.controls['accountAmount']"
                    errorMessage="errorMessage">
            </app-form-field>
        </div>

        <button class="ui blue button" type="submit" (click)="onSubmit()">
            <i class="save icon"></i> შექმნა
        </button>
    </form>
</div>