<div class="sidebar">
    <div class="profile-section">
        <div class="background-layer">
            <img class="background-img" [src]="backgroundImageUrl" alt="Background Image">
        </div>
        <div class="profile-info">
            <img class="avatar" [src]="profileImageUrl" alt="Profile Picture">
            <div class="user-details">
                <div class="username">{{ username }}</div>
                <div class="user-status">{{ status }}</div>
            </div>
        </div>
    </div>
    <div class="nav-section">
        <a href="#" class="nav-item">
            <i class="fa fa-home"></i> მთავარი
        </a>
    </div>
</div>